<div class="row">
	<div class="col s12 m6 example-col">
		<div class="card picture-card example-card">
			<div class="card-image">
				<img id="example-img", src="images/surprise.jpg">
			</div>
			<div class="card-content">
				<p> Happy: </p>
				<p> Surprised: </p>
				<p> Neutral: </p>
				<p> Sad: </p>
				<p> Fearful: </p>
				<p> Angry: </p>
			</div>
		</div>
	</div>

	<div class="col s12 m6 live-col">
		<div class="card picture-card live-card">
			<div class="card-image">
				<video width="450", height="450", autoplay></video>
			</div>
			<div class="card-content">
				<p> Match your face with the emotion of the face on the left: when you are done click the submit button </p>
				<a class="btn-floating btn-large waves-effect waves-light submit-btn red"><i class="mdi-action-done"></i></a>
			</div>
		</div>
	</div>
</div>
