<div class="outer-container">
	<div class="row">
		<div class="parallax-container">
				<div class="parallax"><img src="Parallax/mosaic2.png"></div>
		</div>
		<div class="section white">
			<div class="row container">
				<h1 class="header">The Emotional Captcha: </h1>
				<h4 class="header sub-header"><small> What's More <big>Human</big> than <big>Emotion</big>?</small></h4>
			</div>
		</div>
		<div class="parallax-container">
			<div class="parallax"><img src="Parallax/mosaic.png"></div>
		</div>

		<a class="btn-floating btn-large waves-effect waves-light down-btn red" id="down-explain"><i class="mdi-hardware-keyboard-arrow-down"></i></a>
	</div>

	<div class="explanation-container container" id="explanation-target">
		<div class="row">
			<div class="col s12 m4 human-col">
				<h2 class="center red-text">
					<i class="mdi-image-flash-on"></i>
				</h2>
				<p class="center">
					By using a real time webcam feed emotcha is able to recognize emotions lightning quick. Gone are the days of squinting at more and more esoteric and difficult to read text, now all you have to do is make a silly face.
				</p>
			</div>
			<div class="col s12 m4 human-col">
				<h2 class="center red-text">
					<i class="mdi-action-face-unlock"></i>
				</h2>
				<p class="center">
					By requiring users to match emotional profiles with a picture, emotcha taps into a uniquely human way to ensure that they aren't robots. We are able to provide this revolutionary feature by doing real time facial localization and feeding cropped faces into <a target="_blank" href="https://indico.io/">indico.io's</a> facial emotional recognition api.
				</p>
			</div>
			<div class="col s12 m4 human-col">
				<h2 class="center red-text">
					<i class="mdi-image-tag-faces"></i>
				</h2>
				<p class="center">
					Emotcha is a flatout more engaging and fun way to authenticate users. Captchas are the gateway to your product, and whats a better way to start off than by putting a smile on your users face? Tap the button to try our demo below!
				</p>
			</div>
		</div>
		<a class="btn-floating btn-large waves-effect waves-light down-btn red" id="down-emotcha"><i class="mdi-hardware-keyboard-arrow-down"></i></a>
	</div>

	<div class="emotcha-container", id="emotcha-target">
		<div class="row">
			<div class="col s12 m4 example-col">
				<div class="card picture-card example-card">
					<div class="card-image">
						<img id="example-img", src="images/surprise.jpg">
					</div>
					<div class="card-content">
						<div class="emotions">
							<div class="progress">
								<div id='ex-angry', class="determinate" style="width: 1%"> Angry </div>
							</div>
							<div class="progress">
								<div id="ex-sad", class="determinate" style="width: 1%"> Sad </div>
							</div>
							<div class="progress">
								<div id="ex-neutral", class="determinate" style="width: 1%"> Neutral </div>
							</div>
							<div class="progress">
								<div id="ex-surprise", class="determinate" style="width: 1%"> Surprise </div>
							</div>
							<div class="progress">
								<div id="ex-fear", class="determinate" style="width: 1%"> Fear </div>
							</div>
							<div class="progress">
								<div id="ex-happy", class="determinate" style="width: 1%"> Happy </div>
							</div>
						</div>
						<a class="btn-floating btn-large waves-effect waves-light next-btn red"><i class="mdi-content-forward"></i></a>
					</div>
				</div>
			</div>

			<div class="col s12 m4 live-col">
				<div class="card picture-card live-card">
					<div class="card-image">
						<video width="600", height="450", autoplay></video>
					</div>
					<div class="card-content">
						<div class="emotions">
							<div class="progress">
								<div id='lv-angry', class="determinate" style="width: 1%"> Angry </div>
							</div>
							<div class="progress">
								<div id="lv-sad", class="determinate" style="width: 1%"> Sad </div>
							</div>
							<div class="progress">
								<div id="lv-neutral", class="determinate" style="width: 1%"> Neutral </div>
							</div>
							<div class="progress">
								<div id="lv-surprise", class="determinate" style="width: 1%"> Surprise </div>
							</div>
							<div class="progress">
								<div id="lv-fear", class="determinate" style="width: 1%"> Fear </div>
							</div>
							<div class="progress">
								<div id="lv-happy", class="determinate" style="width: 1%"> Happy </div>
							</div>
						</div>
						<a class="btn-floating btn-large waves-effect waves-light submit-btn red"><i class="mdi-av-play-arrow"></i></a>
					</div>
				</div>
			</div>

			<div class="col s12 m4 login-col">
				<div class="card login-card">
					<div class="card-content">
						<div class="row">
							<div class="col s12">
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input value="austin@indico.io" id="email" type="email" class="validate">
								<label for="email">Email</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input value="sa;lfjasdf" id="password" type="password" class="validate">
								<label for="password">Password</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<a class="waves-effect waves-light btn login-btn disabled">Log In</a>
							</div>
						</div>
						<div class="how-to card red">
							<h6 class="center" style="margin-top:10px, margin-bottom: 10px"> Match Emotions to Enable Log In </h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
