<div class="outer-container">
	<div class="row">
		<div class="parallax-container">
				<div class="parallax"><img src="Parallax/mosaic2.png"></div>
		</div>
		<div class="section white">
			<div class="row container">
				<h1 class="header">The Emotional Captcha: </h1>
				<h4 class="header sub-header"><small> What's More <big>Human</big> than <big>Emotion</big>?</small></h4>
			</div>
		</div>
		<div class="parallax-container">
			<div class="parallax"><img src="Parallax/mosaic.png"></div>
		</div>
		<a class="btn-floating btn-large waves-effect waves-light down-btn red" id="down-emotcha"><i class="mdi-hardware-keyboard-arrow-down"></i></a>
	</div>

	<div class="emotcha-container", id="emotcha-target">
		<div class="row">
			<div class="col s12 m4 example-col">
				<div class="card picture-card example-card">
					<div class="card-image">
						<img id="example-img", src="images/happy.jpg">
					</div>
					<div class="card-content">
						<div class="emotions">
							<div class="progress">
								<div id='ex-angry', class="determinate" style="width: 1%"> Angry </div>
							</div>
							<div class="progress">
								<div id="ex-sad", class="determinate" style="width: 1%"> Sad </div>
							</div>
							<div class="progress">
								<div id="ex-neutral", class="determinate" style="width: 1%"> Neutral </div>
							</div>
							<div class="progress">
								<div id="ex-surprise", class="determinate" style="width: 1%"> Surprise </div>
							</div>
							<div class="progress">
								<div id="ex-fear", class="determinate" style="width: 1%"> Fear </div>
							</div>
							<div class="progress">
								<div id="ex-happy", class="determinate" style="width: 1%"> Happy </div>
							</div>
						</div>
						<a class="btn-floating btn-large waves-effect waves-light next-btn red"><i class="mdi-content-forward"></i></a>
					</div>
				</div>
			</div>

			<div class="col s12 m4 live-col">
				<div class="card picture-card live-card">
					<div class="card-image">
						<video width="600", height="450", autoplay></video>
					</div>
					<div class="card-content">
						<div class="emotions">
							<div class="progress">
								<div id='lv-angry', class="determinate" style="width: 1%"> Angry </div>
							</div>
							<div class="progress">
								<div id="lv-sad", class="determinate" style="width: 1%"> Sad </div>
							</div>
							<div class="progress">
								<div id="lv-neutral", class="determinate" style="width: 1%"> Neutral </div>
							</div>
							<div class="progress">
								<div id="lv-surprise", class="determinate" style="width: 1%"> Surprise </div>
							</div>
							<div class="progress">
								<div id="lv-fear", class="determinate" style="width: 1%"> Fear </div>
							</div>
							<div class="progress">
								<div id="lv-happy", class="determinate" style="width: 1%"> Happy </div>
							</div>
						</div>
						<a class="btn-floating btn-large waves-effect waves-light submit-btn red"><i class="mdi-av-play-arrow"></i></a>
					</div>
				</div>
			</div>

			<div class="col s12 m4 login-col">
				<div class="card explain-card">
					<div class="row">
						<div class="col s12">
							<h5> Welcome to Emotcha</h5>
							<br/>
							<p>This a proof concept demo of a captcha system built of a truly human characteristic, emotions. Try and match your emotional profile with the one to the left inorder to unlock the mock login form below.</p>
							<p>Emotcha is built off of <a href="https://indico.io/", target="_blank">indico.io's</a> facial emotional recognition api and is made under a MIT license. The source can be found <a href="https://github.com/jagreene/Emotcha", target="_blank">here</a>, happy authentication!</p>
						</div>
					</div>
				</div>

				<div class="card login-card">
					<div class="card-content">
						<div class="row">
							<div class="input-field col s12">
								<input value="johndoe@gmail.com" id="email" type="email" readonly>
								<label for="email">Email</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input value="sa;lfjasdf" id="password" type="password" readonly>
								<label for="password">Password</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<a class="waves-effect waves-light btn login-btn disabled">Log In</a>
							</div>
						</div>
						<div class="how-to card red">
							<h6 class="center" style="margin-top:10px, margin-bottom: 10px"> Match Emotions to Enable Log In </h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
