body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.picture-card {
    width: 450px;
    margin-top: 15vh;
}

.example-card {
    left: 10vw;
}

.live-card {
    left: 10vw;
}

.submit-btn, .next-btn {
    position: absolute;
    left:85%;
    bottom: 37.5%;
}

.down-btn {
    position: absolute;
    left: 50%;
    bottom:5%;
}
.parallax-container {
    margin-top: 0vh;
    height: 40vh;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.sub-header {
    margin-top: 0px;
}
#example-img {
    width: 450px;
    height: 450px;
}
